body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%2388a3cf' fill-opacity='0.91' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size:contain;
  background-attachment: fixed;
  background-repeat:repeat;
}

/* Banner */

header {
  min-height: 75px;
  color: rgba(0, 86, 119, 1);
  justify-content: center;
  text-transform: uppercase;
  margin: 0px;
}

#imagen {
  height: 225px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

#foto-perfil {
  height: 225px;    
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 50%;
  max-height: 250px;
}

.titulo {
  margin-top: 0px;
}
/* link navegacion*/
.sobre-mi{
    text-align: center;
    text-decoration: none;
}

main{
background-color:#88A3CF;
padding-bottom: 10px;
}

/* titulo */
h1 {
  color:#4D82D7;
  padding: 10px;
  background-color:#1C304F;
  text-align: center;
  width: 100%;
}
/* navegacion */
.links {    
}

section {
  height: 50px;
}

.links img{
  color:#1C304F;
  max-height: 45px;
}
/* subtitulos */
h2 {
  background-color:#1F3457;
  color: #4D82D7;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-left: 10px;
}
/* Listas */
ul{
    margin: 0px;
}

li{
    margin-bottom: 10px;
}

.datos p {
  font-style: italic;
}
/* textos */
p {
  display: inline;
  font-weight: bold;
  margin-right: 20px;
}

footer {
  background-color: #1C304F;
  color: white;
  padding-bottom: 0px;
}

footer div {
  align-items: center;
  max-height: 37px;
  display: flex;
  justify-content: space-evenly;
}

.icono{
    max-height: 24px;
}

/* 'SOBRE MI' */

.boton-inicio{
  text-align: centerS;
}